#btn{
    float: right;
    height: 4rem;
    width: 4rem;
    border-radius: 100% ;
    box-shadow: 0.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4rem;
}
#btn:hover{
    background-color: red;
    color:red;
    cursor: pointer;
    animation:reverse;
}